include lineageos_h990_defconfig
#neocore config
CONFIG_LOCALVERSION=".NeOcOrE"
CONFIG_IOSCHED_TEST=n
CONFIG_BRIDGE_NETFILTER=y
CONFIG_SCSI_UFS_TEST=n
CONFIG_WIL6210=y
CONFIG_INPUT_EVBUG=n
CONFIG_MSM_RDBG=n
CONFIG_SPI_SPIDEV=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_MMC_TEST=n
CONFIG_CRYPTO_ANSI_CPRNG=y
CONFIG_MMC_BLOCK_TEST=n
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_DEFAULT_CUBIC=n
CONFIG_DEFAULT_WESTWOOD=y
CONFIG_DEFAULT_TCP_CONG="westwood"
CONFIG_TCP_CONG_BIC=n
CONFIG_TCP_CONG_HTCP=n
CONFIG_STATE_NOTIFIER=y
CONFIG_IOSCHED_SWITCHER=y
CONFIG_DYNAMIC_FSYNC=y
CONFIG_KSM=y
CONFIG_UKSM=y
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_ARM64_ERRATUM_824069=n
CONFIG_ARM64_ERRATUM_819472=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_ARM64_ERRATUM_845719=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n

