include lineageos_h990_defconfig
#neocore config
CONFIG_LOCALVERSION=".NeOcOrE"
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_DEFAULT_CUBIC=n
CONFIG_DEFAULT_WESTWOOD=y
CONFIG_DEFAULT_TCP_CONG="westwood"
CONFIG_STATE_NOTIFIER=y
CONFIG_IOSCHED_SWITCHER=y
CONFIG_DYNAMIC_FSYNC=y

